<div>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #1791d2;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="font-weight: bold;">Contact</a>
          <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <ul class="navbar-nav ml-auto mb-2 mb-md-0">
              <li class="nav-item">
                  <a class="nav-link active sign" href="#" >Se connecter</a><span style="color: white; margin:-3px">/</span>
                  <a class="nav-link active sign" href="#" >S'enregistre</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</div>
